/* headings */

h1 {
    color:black;
}

/* IDs */

#topbar, #navbar {
    height: 60px;
}

#topbar {
    width:30%;
    float:left;
    background-color: rgb(134, 134, 134);
}

#navbar {
    width:70%;
    float:right;
    background-color: rgb(134, 134, 134);
}


#profileImage {
    width: 40px;
    height: auto;
}

#profileListItem {
    padding-top:7px;
    padding-left: 30px;
}

#colNames {
    width:100%;
}


#lowHeader {
    color:black;
}

#pyBtnSync {
    color:black;
}

#databaseSection {
    color:black;
}

#nextPage {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    width: 99%;
    text-align: center;
}

#pyBtnNextPage {
    color:black;
}

/* classes */

.elems {
    width: 100%;
}

.listBar {
    list-style-type: none;
    padding: 0px;
    margin: auto;
    height:100%;
}

.listBarItem, .listBarItemNav {
    text-align: center;
    vertical-align: middle;
    padding:20px 30px;
}

.listBarItem {
    float: left;
}

.listBarItemNav {
    float: right;
}

.listBarItem a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.listBarItem a:hover {
    background-color: rgb(125, 214, 169);
}

.tableHeader {
    padding-left:30px;
    padding-right:30px;
}
