table,td,th{
    border:1px solid black;}


table{
    border-collapse: collapse;}


#databaseSection {
    color:black;}


.tableHeader {
    padding-left:1.3vw;
    padding-right:1.3vw;
    white-space: nowrap;
    max-width:200px;}


.matchID, .filename, .players, .decknames, .p1Deck, .p2Deck, .turnOrder, .winList, .format, .type, .date{
    max-width:200px;
    word-wrap:break-word;}


.matchID{
    font-size: 18px;}


.extraHeaderText{
    display:inline-block;}


.filename{
    max-width:100%;
    white-space:nowrap;}


.replaceText{
    display: block;}


.replaceImage{
    display: none;}


.altHeaderText{
    display: none;}


@media only screen and (max-width:700px){
    
    .tableHeader, .players, .decknames, .p1Deck, .p2Deck, .turnOrder, .winList, .format, .type, .date{
        font-size:12px;}

    
    .tableHeader {
        padding-left:1.3vw;
        padding-right:1.3vw;
        white-space: nowrap;
        max-width:200px;}
    

    .matchID, .players, .decknames, .p1Deck, .p2Deck, .turnOrder, .winList, .format, .type, .date {
        word-wrap:break-word;}
    
        
    .extraHeaderText{
        display:none;}


    .replaceText{
        display:none;}


    .replaceImage{
        display:block;}
    
    
    .altHeaderText{
        display: block;}}
